[Unit]
Description=Abusix Postfix Policy Daemon
After=network.target postfix.service

[Service]
Environment=
Type=simple
User=nobody
# ExecStart=/usr/bin/node /opt/abusix_ppd/index.js
ExecStart=/usr/local/bin/abusix_ppd
Restart=on-failure

[Install]
WantedBy=multi-user.target
